
<link href="https://cdn.datatables.net/2.0.2/css/dataTables.bootstrap5.css" rel="stylesheet">

<h3>Client List</h3>

<br>
<!-- btn open modal add client -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddClient"> Add Client </button>
@* <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#E"> Edit </button> *@
<!-- Client add Modal -->

<!-- Modal add client close -->
@Html.Partial("partial/_PartialTable")
@Html.Partial("partial/_ModalCreate")






@section scripts {
  <script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>
  <script src="https://cdn.datatables.net/2.0.2/js/dataTables.bootstrap5.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="~/js/main.js"></script>
}